html
	head
		title Dave Rules a Pug file!
		link(href='/css/styles.css', rel='stylesheet')
	body
		header
			p This is soon to be a menu
		section
			p This is a section, PUG RULES
			p
				| this is another way to use a tag
			p.
				and yet a third way!

			a.foo_link(href='http://www.google.com', target="_new") This is a link
		footer
			p DAVE RULES THE FOOTER!

		script(type='text/javascript')
			var myVar = 'DAVE RULES VAR!'
			console.log(myVar)

		script(src='/js/app.js')

			//Blah blah blah I get it.  Shout out to templates and blocks!
